.logos {
    background-color: #1f252c;
}

.intro {
    background: url("images/code.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cont;
    height: 300px;
    width: 100%;
    overflow: hidden;
    opacity: 0.5;
}

.intro p {
    opacity: 1.0;
}

.intro span {
    opacity: 1.0:
}

#contact {
    background-color: #f0f0f0;
}

.ratio-1x1 {
    aspect-ratio: 1/1;
}
